@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100&family=Nunito:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

.planet-info,
.mid-section {
    margin: 0 20px;
    height: 80.5vh;
    width: auto;
}

body {
    font-family: 'Anek Malayalam', sans-serif;
    background-color: black;
    color: #fff;
}


/* set font for h1 and h2 elements along with correct spacing. Text-transform added in to save on b */
h1,
h2 {
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
}

header {
    margin: 0 20px 0 20px;
}

/* below css rule for text-transfrom, overrides the one set above  */

#logo {
    text-transform: uppercase;
    float: left;
    font-size: 280%;
    font-weight: 600;
}

#menu {
    clear: both;
    width: 100%;
    text-align: center;
    height: 43px;
    word-spacing: 100px;
    background-color: #fff;
    color: #161616;
    border: 1px solid #161616;
}

#menu li {

    display: inline-block;
    font-size: 30px;
}

#menu a {
    text-decoration: none;
    color: #161616;
    font-weight: 700;
}

/* below stylings reduce spacing between menu text and icons */

a,
i {
    word-spacing: 5px;
}

header>a>h1 {
    color: #fff;
    text-decoration: none;
}


/* styling for main content on page */

.planet-info {
    background-color: black;
}

.mid-section>h2,
.planet-info>h2 {
    padding: 20px 0;
    font-size: 30px;
}

.mid-section h3,
.planet-info h3 {
    margin: 0 0 10px 0;
    font-weight: 800;
    font-size: 25px;
}

.mid-section>div {
    position: absolute;
    width: auto;
    display: inline-block;
    margin: 0px 20px 0 auto;
}

.planet-info>div {
    clear: both;
    display: inline-block;
}

#planet-info-p {
    display: block;
}

.mid-section p,
.planet-info p {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
}


.planet-link h3 {
    color: white;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
}

/* below styling is for planet layout */

.planet-link {
    margin: 5% 2%;
    text-align: center;
}

/* main image stylings */

#astro-main>img {
    margin: 0 20px 0 0;
    border-radius: 1.5%;
    clear: both;
}

/* planet images stylings */

.mercury {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.venus {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.earth {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.mars {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.jupiter {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.saturn {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.uranus {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.neptune {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    overflow: auto;
    text-align: center;
    width: 100%;
    background-color: #fff;
    color: #161616;
    font-weight: 600;
    height: 55px;
}

footer>span {
    padding-top: 5px;
}

footer li {
    display: inline-block;
    padding-bottom: 5px;
    width: 55px;
}

a {
    color: #161616;
}

input[type=submit] {
    background-color: #afafaf;
    padding: 10px;
    font-weight: 600;
    margin-top: 17px;
}

/* @media screen and (max-width: 1000px) {
    picture > source {
        width: 350px;
        height: 250px;
        margin: 0 20px 0 0;
        border-radius: 1.5%;
        clear: both;
    }
} */