@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100&family=Nunito:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

/* html,
body {
    height: 100%;
} */

.mid-section{
    min-height: 100%;
}

body {
    font-family: 'Anek Malayalam', sans-serif;
    background-color: #161616;
    color: #afafaf;
}


/* set font for h1 and h2 elements along with correct spacing. Text-transform added in to save on b */
h1,
h2 {
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
}

header {
    background-color: #161616;
}

/* below css rule for text-transfrom, overrides the one set above  */

#logo {
    text-transform: uppercase;
    float: left;
    font-size: 280%;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 600;

}

#menu,
.planet-menu {
    clear: both;
    width: 100%;
    text-align: center;
    height: 20%;
    word-spacing: 100px;
    background-color: #afafaf;
    color: #161616;
    border: 1px solid #161616;
    /* margin-left: 20px;
    margin-right: 20px; */
    /* margin: 0 20px 0 20px; */
}

#menu li {

    display: inline-block;
    font-size: 30px;
}

#menu a,
.planet-menu a {
    text-decoration: none;
    color: #161616;
    font-weight: 700;
}

/* below stylings reduce spacing between menu text and icons */

a,
i {
    word-spacing: 5px;
}

header>a>h1 {
    color: #afafaf;
    text-decoration: none;
}



.planet-menu>nav {
    height: 10%;
    width: 100%;
    word-spacing: 50px;
}

.planet-menu li {
    font-size: 30px;
    display: inline-block;
}

/* mid-section styling for main section of page */

.mid-section {
    margin: 15px;
}

.mid-section>h2 {
    padding-bottom: 20px;
}

.mid-section h3 {
    margin: 0 0 10px 0;
    font-weight: 800;
}

.mid-section>div {
    position: absolute;
    width: auto;
    display: inline-block;
    margin: 0px 20px 0 auto;
}

.mid-section>div>p {
    font-weight: 600;
    margin-bottom: 10px;
}

.astro-main-image {
    width: 650px;
    height: 500px;
    margin: 0 20px 0 0;
    border-radius: 1.5%;
    clear: both;
}


footer {
    position: absolute;
    bottom: 0 auto;
    text-align: center;
    width: 100%;
    background-color: #afafaf;
    color: #161616;
    font-weight: 600;
    height: 55px;
    text-align: center;
    clear: both;
}

footer>span {
    padding-top: 5px;
}

footer li {
    display: inline-block;
    padding-bottom: 5px;
    width: 55px;
}

a {
    color: #161616;
}

input[type=submit] {
    background-color: #afafaf;
    padding: 10px;
    font-weight: 600;
    margin-top: 17px;
}

/* @media screen and (max-width: 950;) {

} */