@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100&family=Nunito:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

.planet-info,
.mid-section {
    margin: 0 20px;
    width: auto;
}

body {
    font-family: 'Anek Malayalam', sans-serif;
    background-color: black;
    color: #fff;
    margin-bottom: 55px;
}


/* set font for h1 and h2 elements along with correct spacing */
h1,
h2 {
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
}

header h1 {
    margin: 0 20px;
}

/* below css rule for text-transfrom, overrides the one set above  */

#logo {
    text-transform: uppercase;
    float: left;
    font-size: 280%;
    font-weight: 600;
}

#menu {
    clear: both;
    width: 100%;
    text-align: center;
    height: 43px;
    word-spacing: 100px;
    background-color: #fff;
    color: #161616;
}

#menu li {

    display: inline-block;
    font-size: 30px;
}

#menu a {
    text-decoration: none;
    color: #161616;
    font-weight: 700;
}

/* below stylings reduce spacing between menu text and icons */

a,
i {
    word-spacing: 5px;
}

header>a>h1 {
    color: #fff;
    text-decoration: none;
}

.active {
    border: 4px white dotted;
}

/* styling for main content on page */

.planet-info {
    background-color: black;
}

.mid-section>h2,
.planet-info>h2 {
    padding: 20px 0;
    font-size: 30px;
}

.mid-section h3,
.planet-info h3 {
    margin: 0 0 10px 0;
    font-weight: 800;
    font-size: 25px;
}

.mid-section>div {
    position: absolute;
    display: inline-block;
    margin: 0px 20px 0 auto;
}

.planet-info>div {
    display: inline-block;
}

#planet-info-p {
    display: block;
}

.mid-section p,
.planet-info p {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
}


.planet-link h3 {
    color: white;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
}

/* below styling is for planet layout */

.planet-container {
    width: 100%;
    text-align: center;
    margin: 10px 0 55px 0;
}

.planet-link {
    display: inline-block;
    margin: 0 1.5rem;
}

/* main image stylings */

#astro-main>img {
    margin: 0 20px 0 0;
    border-radius: 1.5%;

}

/* planet images stylings */

.mercury {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.venus {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.earth {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.mars {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.jupiter {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.saturn {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.uranus {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.neptune {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #fff;
    color: #161616;
    font-weight: 600;
    height: 55px;
}

footer>h4 {
    padding: 5px 0;
}

footer>ul {
    word-spacing: 30px;
}

footer li {
    display: inline-block;
    padding-bottom: 10px;
}

a {
    color: #161616;
}

#form-container {
    display: block;
    border: 3px white solid;
    color: white;
    border-radius: 5%;
    width: 400px;
    padding: 10px;
    padding-top: 10px;
}

form>h4 {
    margin-left: 10px;
}

#form-text {
    margin: 10px;
    width: 100px;
}

#form-text>input {
    padding-bottom: 5px;
}

#form-radio {
    margin: 10px;
    font-weight: 700;
    width: 100%;
    word-spacing: 20px;
}


#form-radio>div {
    display: inline-block;
    word-spacing: 5px;

}



input[type=text],
input[type=email] {
    background-color: lightgray;
    color: black;
    font-size: medium;
    padding: 3px;
}

input[type=submit] {
    margin: 10px 0 10px 10px;
    background-color: white;
    color: black;
    font-size: medium;
    width: 80px;
    height: 40px;
    border-radius: 7%;
    font-weight: 600;
}

input[type='radio']:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: lawngreen;
    content: '';
    display: inline-block;
    border: 2px solid white;
}

#galileo {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    float: right;
    display: block;
    clear: both;
    margin-bottom: 58px;
}

/* Responsive design stylings below */

@media screen and (max-width: 950px) {

    .active {
        border: none;
    }

    #logo {
        font-size: 30px;
    }

    #menu li {
        font-size: 20px;
    }

    #logo {
        margin: 0 5px;
    }

    #menu {
        height: fit-content;
    }

    #astro-main>img {
        width: 275px;
        height: 225px;
        margin: 0;
    }

    .mid-section {
        width: 90%;
    }

    .mid-section>div {
        display: block;
        width: 95%;
        height: 100%;
        overflow: auto;
    }

    #form-container {
        display: block;
        width: 270px;
        height: 46vh;
        padding: 2px;
    }

    #galileo {
        width: 350px;
        height: 350px;
    }


}

@media screen and (max-width: 767px) {
    #galileo {
        visibility: hidden;
    }
}